body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -20x;
    height: 150px;
    text-align: center;
    width: 100%;
    z-index:999;
    position: fixed;
    background-color: black;
}

.DS-Logo {
    max-width: 30%;
    height: auto;
    object-fit: contain;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a, nav ul li button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover, nav ul li button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

ul{
    list-style: none;
}

main {
    padding: 20px;
}

.Information {
    text-align: center;
    margin: 0 auto 20px;
    padding: 0 10px;
    max-width: 900px;
}

.Team {
    text-align: center;
    padding: 20px;
}

.team-member {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 180px;
}

.PersonPicture {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.translate-button
{
    top: -12px;
    position: relative;
}

.announcement {
    background-color: #d9e000;
    color: black;
    font-weight: bold;
    width: 100%;
    z-index: 1000;
    font-size: 18px;
}