body
{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #489;
  
}

h2
{
  text-align: center;
  background-color: white;
}

img
{
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -35px;
    background-color: #6d6a6a; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #525250;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  span {
    white-space: nowrap;
    width: 60px;
    border: 1px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: clip; 
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin-top: -380px;
    margin-left: 1px;
    margin-right: auto;
    cursor: pointer; /* Add this line to change cursor on hover */
}

marquee
{
    background-color: yellow;
    border:1px solid black;
    transform:
        perspective(75em)
        rotateX(18deg);
      box-shadow:
        rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
        rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
      border-radius: 10px;
      border: 1px solid;
      border-color:
        rgb(213, 220, 226)
        rgb(213, 220, 226)
        rgb(184, 194, 204);
    }

footer 
{
    position: relative; /* Set position to relative for absolute positioning of copyright */
}

#copyright {
  position: absolute;
  display: block;
  bottom: -600px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: #fff; /* Set the background color matching the site style */
  border: 1px solid #000; /* Add a border */
  text-align: center;
  padding: 10px;
  color: #000; /* Set text color */
}

section
{
  text-align: center;
  position: relative;
}

div
{
  background-color: white;
  border:1px solid black;
}

p
{
  font-weight: bolder;
}

.Frank
{
  height: auto;
  width: 150px;
}

    
.ppgmf-image {
  max-width: 552px; 
}

footer p {
margin: 0;
}

main
{
  text-align: center;
  position: relative;
  bottom: -400px;
}

.ppgmf-image
{
  height: auto;
  width: 200px;
  position: relative;
  top: 0px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

div {
  border-radius: 20px;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
}

.TeamSection 
{
position: relative;
bottom: -400px;
}

.Projects {
  text-align: center;
}

.JustTetrisLogoHover,
.RetroXPLogoHover
{
  display: contents;
  position: relative;
}

.JustTetrisLogoHover img,
.RetroXPLogoHover img
{
  display: block;
  width: 200px;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.carousel-container {
  width: 100%;
  height: 500px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.carousel-item {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  transition: transform 0.5s;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.Projects-Slideshow
{
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
}

.TheMayhemPlaygroundHover
{
  display: inline-block;
  background-image: url('Images/MapBG3.png');
  height: 70px;
  width: 200px;
  position: relative;
  top: 0px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.TheMayhemPlaygroundLogo
{
  display: inline-block;
  height: auto;
  width: 200px;
  position: relative;
  top: 25px;
}

ul {
  position:absolute;
  top:25%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

ul li a .fab {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fab {
  color: #e4405f;
}

ul li:nth-child(4) a:hover .fab {
  color: #ff0000;
}

.DiscordServer
{
  position: relative;
  margin-top: 150px;
}