body
{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #489;
  
}

h2
{
  text-align: center;
  background-color: white;
}

img
{
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -35px;
    background-color: #6d6a6a; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #96a15b;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  span {
    white-space: nowrap;
    width: 60px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip; 
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin-top: -380px;
    margin-left: 1px;
    margin-right: auto;
    cursor: pointer; /* Add this line to change cursor on hover */
}

marquee
{
    background-color: yellow;
    border:1px solid black;
    transform:
        perspective(75em)
        rotateX(18deg);
      box-shadow:
        rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
        rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
      border-radius: 10px;
      border: 1px solid;
      border-color:
        rgb(213, 220, 226)
        rgb(213, 220, 226)
        rgb(184, 194, 204);
    }

footer 
{
    position: relative; /* Set position to relative for absolute positioning of copyright */
}

#copyright {
  position: absolute;
  display: block;
  bottom: -600px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: #fff; /* Set the background color matching the site style */
  border: 1px solid #000; /* Add a border */
  text-align: center;
  padding: 10px;
  color: #000; /* Set text color */
}

section
{
  text-align: center;
  position: relative;
}

div
{
  background-color: white;
  border:1px solid black;
}

p
{
  font-weight: bolder;
}

.Frank
{
  height: auto;
  width: 150px;
}

    
.ppgmf-image {
  max-width: 552px; 
}

footer p {
margin: 0;
}

main
{
  text-align: center;
  position: relative;
  bottom: -400px;
}

.ppgmf-image
{
  height: auto;
  width: 550px;
  border-radius: 1;
}

div {
  border-radius: 20px;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
}

.TeamSection 
{
position: relative;
bottom: -400px;
}