body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

h2 {
  text-align: center;
}

img {
  display: block;
  width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -35px;
  background-color: #6d6a6a;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #525250;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}

iframe {
  justify-content: center;
  display: flex;
  position: relative;
  margin: auto;
}

.Button {
  display: inline-block;
  justify-content: center;
  width: 100px;
  height: auto;
  align-self: center;
}

.SteamButton {
  display: inline-block;
  justify-content: center;
  width: 125px;
  height: auto;
  align-self: center;
}

div {
  position: relative;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.Under_construction {
  width: 25px;
  height: auto;
  position: relative;
  margin-left: 5px;
  margin-bottom: -19px;
}

.InspirationInfo {
  background-color: black;
}

#carousel {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.carousel-item {
  display: none;
  width: 100%;
}

.features {
  margin: 40px auto;
  text-align: center;
}

.features table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background-color: #6f6f6f;
}

.features table td {
  padding: 15px;
  border: 1px solid #fff;
  color: #fff;
}

.features table tr:first-child {
  background-color: #aaaaaa;
}

.features table tr:nth-child(even) {
  background-color: #a5a5a5;
}

.DCO
{
  position: relative;
  left: 350px;
}

.DCO-2
{
  position: relative;
  right: 389px;
}
